.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
  }
  
  .container a {
    color: black;
  }
  
  .container a:hover {
    color: red;
    cursor: pointer;
  }