*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    height: 30px;
    width: 100%;
    /* border: 1px solid black; */
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -4px 6px 23px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 6px 23px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 6px 23px 6px rgba(0,0,0,0.75);
    background-color: darkgrey;
    margin-top: 20px;
    position: sticky;
    top: 20px;
    z-index: 1000;
}

.nav li{
    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color: blueviolet;
}
